<div class="flex gap-3" [formGroup]="filterForm" >
  FILTERS 
  <div class="mb-3">
    <input type="text"
      class="form-control"  placeholder="Search">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Brand</label>
    <select class="form-select form-select-lg" formControlName="brand" (change)="filterElt()">
      <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.name}}</option>
    </select>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table *ngIf="campagnes" [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.requestStatus.value}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.campaignName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> <span class="badge bg-{{element.advice?'danger':'secondary'}}">{{element.advice? 'Advice':'Request'}}</span>  </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Brand </th>
      <td mat-cell *matCellDef="let element"> {{element.brand.name}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="submission">
      <th mat-header-cell *matHeaderCellDef> Submission </th>
      <td mat-cell *matCellDef="let element"> {{element.submittedDate|date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="['/update/', element.requestId]" *matRowDef="let row; let element, columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>